name: test

on:
  push:
    branches:
      - master

  # Run tests for any PRs.
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image:  dart:latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: dart pub get
    - name: Run tests
      run: dart pub run test/personnummer.dart